# Ignore everything
*

# But not these files...
!.gitignore
!.php-cs-fixer.php
!composer.json
!composer.lock
!README.md

# And not these settings...
!.vscode/
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# And not these scripts...
!scripts/
!scripts/fix-current-file-namespace.php
